<p class="required-msg" translate>* {{'REQUIRED'}}.</p>

<form name="changeForm" ng-submit="changeForm.$valid && changeCtrl.submitSuggestion()" class="form-horizontal" novalidate>
  <div class="form-group">
    <label for="preflabel" class="col-sm-4" translate>{{'PREFLABEL'}}: *</label>
    <div class="col-sm-8">
      <angucomplete-alt id="preflabel"
              placeholder="{{ 'SEARCH' | translate }}"
              pause="400"
              minlength="3"
              field-required="true"
              selected-object="changeCtrl.suggestion.preflabel"
              remote-url="http://api.finto.fi/rest/v1/search"
              remote-url-request-formatter="requestFormatter"
              remote-url-data-field="results"
              title-field="prefLabel"
              input-class="form-control form-control-small" />
    </div>
  </div>
  <div class="form-group">
    <label for="altlabel" class="col-sm-4" translate>{{'CHANGE'}}: *</label>
    <div class="col-sm-8">
      <textarea rows="3" ng-model="changeCtrl.suggestion.change" type="text" class="form-control col-sm-10" id="change" required></textarea>
    </div>
  </div>
  <div class="form-group">
    <label for="explanation" class="col-sm-4" translate>{{'EXPLANATION'}}: *</label>
    <div class="col-sm-8">
      <textarea rows="3" ng-model="changeCtrl.suggestion.explanation" type="text" class="form-control col-sm-10" id="explanation" required></textarea>
    </div>
  </div>
  <div class="form-group">
    <label for="fromname" class="col-sm-4" translate>{{'NAME'}}: *</label>
    <div class="col-sm-8">
      <input ng-model="changeCtrl.suggestion.fromname" type="text" class="form-control col-sm-10" id="fromname" required>
    </div>
  </div>
  <div class="form-group">
    <label for="fromorg" class="col-sm-4" translate>{{'ORG'}}:</label>
    <div class="col-sm-8">
      <input ng-model="changeCtrl.suggestion.fromorg" type="text" class="form-control col-sm-10" id="fromorg">
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-4">
      <label for="email" translate>{{'EMAIL'}}: *</label>
      <p translate>{{'EMAILINFO'}}.</p>
    </div>
    <div class="col-sm-8">
      <input ng-model="changeCtrl.suggestion.fromemail" type="email" class="form-control col-sm-10" id="email" required>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-4">
    </div>
    <div class="col-sm-2">
      <input class="btn btn-default" type="submit" value="{{ 'SUBMIT' | translate }}">
    </div>
  </div>
</form>
