/* app css stylesheet */

.ui-select-search {
  padding-left: 12px !important;
}

.glyphicon {
 font-size: 24px !important;
 top: 5px;
}

.ng-invalid.ng-dirty {
  border-color: #FA787E;
}

.navbar {
  background-color: #83CFC8 !important;
}
  
.navbar {
  border: none !important;
  margin-bottom: 0 !important;
}

.navbar * {
  color: #394554 !important;
}

.navbar-brand {
  width: 220px !important;
}

#navbar > .navbar-nav > li.active > a, #navbar > .navbar-nav > .dropdown > .dropdown-toggle {
  background-color: #ffffff !important;
}
