/** Navigation styles **/
.navbar {
  background-color: #83CFC8 !important;
  border: none !important;
  margin-bottom: 0 !important;
}
  
.navbar, .navbar-nav, .navbar-nav * {
  border-radius: 0;
  height: 40px;
  line-height: 40px;
  min-height: 40px;
}

#navbar > .navbar-nav > li > a {
  padding-top: 10px;
}

.navbar * {
  color: #333 !important;
}

.navbar-brand {
  font-size: 20px;
  height: 40px;
  line-height: 10px;
  min-height: 40px;
}

#navbar > ul > li:hover, #navbar > ul > .open > a {
  background-color: #C0E2DF;
}

#navbar {
  padding: 0;
}

#navbar > .navbar-nav > li.active > a {
  background-color: #ffffff !important;
}

.btn-row {
  margin: 15px 0;
}

.btn-row > .btn {
  border: 1px solid #384454;
}

.btn-row > .btn:hover, .btn-row > .btn:focus, .btn-row > .btn:active {
  color: #353F4C;
  background-color: #F2F2F2;
  box-shadow: none !important;
}

.btn-row > .btn-default.active, .btn-row > .btn-default.active:hover {
  box-shadow: 0;
  color: #fff;
  border-color: #384454;
  background-color: #384454;
}

.container > div > p {
  margin-bottom: 8px;
}

/** Form styles **/

.quality-control {
  line-height: 34px;
}

.ui-select-search {
  padding-left: 12px !important;
}

.form-group > .col-sm-4 > .glyphicon {
 font-size: 24px !important;
 top: 5px;
}

form.ng-submitted .ng-invalid {
  border-color: #FA787E;
}

form.ng-submitted.ng-invalid .quality-control {
  color: red;
}

a, a:focus, a:hover {
  outline: 0 !important;
}

.existing-link {
  margin-left: 5px;
}

.form-group > .col-sm-8.col-sm-offset-4 {
  margin-top: 10px;
}

form .col-sm-3 {
  padding-right: 0;
}

/** Thank you alert box **/

.thank-you-msg {
  background-color: #fff;
  color: #384454;
  border-color: #384454;
  font-size: 16px;
  padding: 4px 12px;
  margin-bottom: 10px;
}

.thank-you-msg > .glyphicon {
  margin-left: 5px;
  font-size: 14px;
}

.thank-you-msg > .close {
  right: 0; 
  opacity: 0.6;
}
