<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="myApp"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{{ 'TITLE' | translate }}</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="bower_components/angular-ui-select/dist/select.min.css">
  <link rel="stylesheet" href="bower_components/angucomplete-alt/angucomplete-alt.css">
  <link rel="stylesheet" href="app.css">
</head>
<body ng-controller="Ctrl">
<!-- Fixed navbar -->
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">{{ 'TITLE' | translate }}</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li class="dropdown">
          <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ 'SUGGESTIONS' | translate }}<span class="caret"></span></a>
          <ul class="dropdown-menu">
              <li><a href="#/list">{{ 'LIST' | translate }}</a></li>
            <li><a href="#/new">{{ 'NEWSUGGESTION' | translate }}</a></li>
            <li><a href="#/change">{{ 'CHANGESUGGESTION' | translate }}</a></li>
          </ul>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li ng-class="{active: language === 'fi'}"><a href="" ng-click="changeLanguage('fi')">suomeksi</a></li>
          <li ng-class="{active: language === 'sv'}"><a href="" ng-click="changeLanguage('sv')">på svenska</a></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </nav>

  
  <div class="container">
    <div ng-view></div>
  </div>
  
  <script src="dist_components.js"></script>
  <script src="dist.js"></script>
</body>
</html>
