<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="myApp"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{{ 'TITLE' | translate }}</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="dist.css">
  <link rel="stylesheet" href="app.css">
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
</head>
<body ng-controller="Ctrl">
<!-- Fixed navbar -->
  <nav class="navbar navbar-default">
    <div class="container">
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li ng-class="{active: currentpage === 'list'}">
          <a href="#/list">{{ 'LIST' | translate }}</a>         
          </li>
          <li class="dropdown" ng-class="{active: currentpage !== 'list'}">
          <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ 'SUGGESTIONS' | translate }}<span class="caret"></span></a>
          <ul class="dropdown-menu">
              <li></li>
            <li><a ng-click="changePage('new')" href="#/new">{{ 'NEWSUGGESTION' | translate }}</a></li>
            <li><a ng-click="changePage('change')" href="#/change">{{ 'CHANGESUGGESTION' | translate }}</a></li>
          </ul>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li ng-class="{active: language === 'fi'}"><a href="" ng-click="changeLanguage('fi')">suomeksi</a></li>
          <li ng-class="{active: language === 'sv'}"><a href="" ng-click="changeLanguage('sv')">på svenska</a></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </nav>

  
  <div class="container">
    <div ng-view></div>
  </div>
  
  <script src="dist_components.js"></script>
  <script src="dist.js"></script>
</body>
</html>
