<h3>Ehdota uutta käsitettä YSAan ja YSOon</h3>

<form name="suggestionForm" ng-controller="SuggestionController as suggestionCtrl" ng-submit="suggestionForm.$valid && suggestionCtrl.addSuggestion()" class="form-horizontal" novalidate>
  <div class="form-group">
    <label for="preflabelfi" class="col-sm-4">{{ 'preflabel' | translate }}: *</label>
    <div class="col-sm-8">
      <input name="preflabelfi" ng-model="suggestionCtrl.suggestion.preflabelfi" type="text" class="form-control" id="preflabel" new-concept in-vocab="ysa">
      <span ng-show="suggestionForm.preflabelfi.$invalid">Ehdottamasi termi löytyy jo YSAsta.</span>
    </div>
  </div>
  <div class="form-group">
    <label for="altlabel" class="col-sm-4">Vaihtoehtoiset termit ja ilmaisut:</label>
    <div class="col-sm-8">
      <input name="altlabel" ng-model="suggestionCtrl.suggestion.altlabel" type="text" class="form-control col-sm-10" id="altlabel">
    </div>
  </div>
  <div class="form-group">
    <label for="preflabel-sv" class="col-sm-4">Termi ruotsiksi:</label>
    <div class="col-sm-8">
      <input name="preflabelsv" ng-model="suggestionCtrl.suggestion.preflabelsv" type="text" class="form-control col-sm-10" id="preflabel-sv">
    </div>
  </div>
  <div class="form-group">
    <label for="preflabel-en" class="col-sm-4">Termi englanniksi:</label>
    <div class="col-sm-8">
      <input name="preflabelen" ng-model="suggestionCtrl.suggestion.preflabelen" type="text" class="form-control col-sm-10" id="preflabel-en">
    </div>
  </div>
  <div class="form-group">
    <label for="broader" class="col-sm-4">Yläkäsite YSOssa (LT): *</label>
    <div class="col-sm-8">
      <angucomplete-alt id="broader"
              placeholder="Hae käsitettä"
              pause="400"
              minlength="3"
              field-required="true"
              selected-object="suggestionCtrl.suggestion.broader"
              remote-url="http://api.finto.fi/rest/v1/yso/search"
              remote-url-request-formatter="requestFormatter"
              remote-url-data-field="results"
              title-field="prefLabel"
              input-class="form-control form-control-small" />
    </div>
  </div>
  <div class="form-group">
    <label for="narrower" class="col-sm-4">{{ 'narrowers' | translate }}:</label>
    <div class="col-sm-8">
      <input name="narrower" ng-model="suggestionCtrl.suggestion.narrower" type="text" class="form-control col-sm-10" id="narrower">
      <span ng-show="suggestionForm.narrower.$invalid">Asiasanaa ei löytynyt YSAsta.</span>
    </div>
  </div>
  <div class="form-group">
    <label for="related" class="col-sm-4">Assosiatiiviset (ST):</label>
    <div class="col-sm-8">
      <input name="related" ng-model="suggestionCtrl.suggestion.related" type="text" class="form-control col-sm-10" id="related">
    </div>
  </div>
  <div class="form-group">
    <label for="groups" class="col-sm-4">YSA/YSO temaattinen ryhmä: *</label>
    <div class="col-sm-8">
      <ui-select multiple ng-model="suggestionCtrl.suggestion.groups" theme="bootstrap" ui-select-required>
        <ui-select-match placeholder="Valitse ryhmä listasta">{{$item.label}}</ui-select-match>
        <ui-select-choices repeat="item in groupList">
        <div ng-bind-html="trustAsHtml(item.label)">{{item.label}}</div>
        </ui-select-choices>
      </ui-select>
    </div>
  </div>
  <div class="form-group">
    <label for="exactmatch" class="col-sm-4">Vastaava käsite muussa sanastossa:</label>
    <div class="col-sm-2">
      <select class="form-control">
        <option>LCSH</option>
        <option>Wikipedia</option>
      </select>
    </div>
    <div class="col-sm-6">
      <input ng-model="suggestionCtrl.suggestion.exactmatch" type="text" class="form-control col-sm-10" id="exactmatch">
    </div>
  </div>
  <div class="form-group">
    <label for="scopenote" class="col-sm-4">Tarkoitusta täsmentävä selite:</label>
    <div class="col-sm-8">
      <input ng-model="suggestionCtrl.suggestion.scopenote" type="text" class="form-control col-sm-10" id="scopenote">
    </div>
  </div>
  <div class="form-group">
    <label for="explanation" class="col-sm-4">Perustelut ehdotukselle: *</label>
    <div class="col-sm-8">
      <input ng-model="suggestionCtrl.suggestion.explanation" type="text" class="form-control col-sm-10" id="explanation" required>
    </div>
  </div>
  <div class="form-group">
    <label for="neededfor" class="col-sm-4">Minkä aineiston kuvailussa tarvitsisit käsitettä? (esim. nimeke tai URL):</label>
    <div class="col-sm-8">
      <input ng-model="suggestionCtrl.suggestion.neededfor" type="text" class="form-control col-sm-10" id="x">
    </div>
  </div>
  <div class="form-group">
    <label for="fromname" class="col-sm-4">Ehdottajan nimi: *</label>
    <div class="col-sm-8">
      <input ng-model="suggestionCtrl.suggestion.name" type="text" class="form-control col-sm-10" id="fromname" required>
    </div>
  </div>
  <div class="form-group">
    <label for="fromorg" class="col-sm-4">Ehdottajan organisaatio:</label>
    <div class="col-sm-8">
      <input ng-model="suggestionCtrl.suggestion.org" type="text" class="form-control col-sm-10" id="fromorg">
    </div>
  </div>
  <div class="form-group">
    <label for="email" class="col-sm-4">Sähköpostiosoite: * <span>Saat sähköpostiisi tietoa käsittelyn etenemisestä.</span></label>
    <div class="col-sm-8">
      <input ng-model="suggestionCtrl.suggestion.email" type="email" class="form-control col-sm-10" id="email" required>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-4">
      <label>Ehdotuksen laatu:</label>
      <span ng-repeat="i in getNumber(suggestionCtrl.getStars()) track by $index" class="glyphicon glyphicon-star" aria-hidden="true"></span>
      <span ng-repeat="i in getNumber(5 - suggestionCtrl.getStars()) track by $index" class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
    </div>
    <div class="col-sm-2">
      <input class="btn btn-default" type="submit" value="{{ 'submit' | translate }}">
    </div>
    <div class="col-sm-6"><p>* merkityt kohdat ovat pakollisia.</p></div>
  </div>
</form>
